.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal styles */
  .modal {
    background: black;
    width: 35%;
    height: 90%;
    color:white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
 
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1001;
  }

  
  
  .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .media {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
  
  .media img,
  .media video {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }
  
  .foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  
 .button{

    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    cursor: pointer;
  }
